# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Listem.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Other ignored files
/.idea/
/Listem.Mobile.UITests/obj/
/Listem.Mobile.UITests/bin/
Listem.sln.DotSettings.user
# MAUI app
/Listem.Mobile/obj/
/Listem.Mobile/atlasConfig.json
/Listem.Mobile/FodyWeavers.xsd
/Listem.Mobile/bin/
/Listem.Mobile/listem.keystore
# Shared
/Listem.Shared/obj/
/Listem.Shared/bin/
# API
/Listem.API/obj/
/Listem.API/bin/
/Listem.API/Migrations/
/Listem.API/Database/