# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Listem.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Other ignored files
/Listem/obj/
/Listem/bin/
/.idea/
/UITests/obj/
/UITests/bin/
Listem.sln.DotSettings.user